<div class="week-schedule-container">

    <div class="dayly-schedules">
        <h5>Разписание по дни</h5>

        <label for="slot-len">Продължителност на прегледа</label>
        <select id="slot-len" 
          class="form-select mb-3 py-3"
          [value]="slotLen()"
          (change)="onSlotLenChanged($event)"
          aria-label="Default select example">
            <option value="15">15 мин</option>
            <option value="20">20 мин</option>
            <option value="30">30 мин</option>
        </select>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMon" aria-expanded="true" aria-controls="collapseOne">
                        ПОНЕДЕЛНИК
                    </button>
                </h2>
                <div id="collapseMon" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-dayly-schedule dayKey="mon" (intervalChange)="onIntervalChange($event)" />
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTue" aria-expanded="false" aria-controls="collapseTwo">
                        ВТОРНИК
                    </button>
                </h2>
                <div id="collapseTue" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-dayly-schedule dayKey="tue" (intervalChange)="onIntervalChange($event)" />
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWed" aria-expanded="false" aria-controls="collapseTwo">
                        СРЯДА
                    </button>
                </h2>
                <div id="collapseWed" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-dayly-schedule dayKey="wed" (intervalChange)="onIntervalChange($event)" />
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThu" aria-expanded="false" aria-controls="collapseTwo">
                        ЧЕТВЪРТЪК
                    </button>
                </h2>
                <div id="collapseThu" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-dayly-schedule dayKey="thu" (intervalChange)="onIntervalChange($event)" />
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFri" aria-expanded="false" aria-controls="collapseTwo">
                        ПЕТЪК
                    </button>
                </h2>
                <div id="collapseFri" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-dayly-schedule dayKey="fri" (intervalChange)="onIntervalChange($event)" />
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSat" aria-expanded="false" aria-controls="collapseTwo">
                        СЪБОТА
                    </button>
                </h2>
                <div id="collapseSat" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-dayly-schedule dayKey="sat" (intervalChange)="onIntervalChange($event)" />
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSun" aria-expanded="false" aria-controls="collapseTwo">
                        НЕДЕЛЯ
                    </button>
                </h2>
                <div id="collapseSun" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-dayly-schedule dayKey="sun" (intervalChange)="onIntervalChange($event)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="preview-schedule">        
        <h5>Преглед</h5>
        <div class="row">
            <div class="col col-md-8 col-lg-9">
                
                <div>Начало на разписанието</div>
                <mat-form-field appearance="outline" class="">
                    <mat-label>Избери начало</mat-label>

                    <input
                        matInput
                        [matDatepicker]="picker"
                        [min]="minDate"
                        [max]="maxDate"
                        [value]="selectedDate()"
                        (dateChange)="onDateSelected($event.value)"
                        required
                    />

                    <!-- calendar icon button -->
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="month"></mat-datepicker>
                </mat-form-field>

            </div>
            <div class="col col-md-4 col-lg-3">
                <button type="button" 
                    (click)="saveWeekSchedule()"
                    class="btn btn-sm btn-outline-success float-end">
                    Запази
                </button>
            </div>
        </div>

        
        <table class="table">
            <thead>
                <tr>
                <td scope="col">Понеделник</td>
                <td scope="col">Вторник</td>
                <td scope="col">Сряда</td>
                <td scope="col">Четвъртък</td>
                <td scope="col">Петък</td>
                <td scope="col">Събота</td>
                <td scope="col">Неделя</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>
                    <app-dayly-schedule-preview
                        [intervals]="dayIntervals(week()['mon'])"
                        [slotLengthMinutes]="slotLen()">
                    </app-dayly-schedule-preview> 
                </td>
                <td>
                    <app-dayly-schedule-preview
                        [intervals]="dayIntervals(week()['tue'])"
                        [slotLengthMinutes]="slotLen()">
                    </app-dayly-schedule-preview>  
                </td>
                <td>
                    <app-dayly-schedule-preview
                        [intervals]="dayIntervals(week()['wed'])"
                        [slotLengthMinutes]="slotLen()">
                    </app-dayly-schedule-preview> 
                </td>
                <td>
                    <app-dayly-schedule-preview
                        [intervals]="dayIntervals(week()['thu'])"
                        [slotLengthMinutes]="slotLen()">
                    </app-dayly-schedule-preview> 
                </td>
                <td><app-dayly-schedule-preview
                        [intervals]="dayIntervals(week()['fri'])"
                        [slotLengthMinutes]="slotLen()">
                    </app-dayly-schedule-preview> </td>
                <td>
                    <app-dayly-schedule-preview
                        [intervals]="dayIntervals(week()['sat'])"
                        [slotLengthMinutes]="slotLen()">
                    </app-dayly-schedule-preview> 
                </td>
                <td>
                    <app-dayly-schedule-preview
                        [intervals]="dayIntervals(week()['sun'])"
                        [slotLengthMinutes]="slotLen()">
                    </app-dayly-schedule-preview> 
                </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>