input { 
    padding:0.4em 0.5em;
    border:1px solid rgba(0, 0, 0, .10);  /* custom border color */
    border-radius:0.3em;         /* custom corner radius */
    background:#fff;
}

    input:focus {
        border-color:rgba(44, 101, 247, 1);              /* darker on focus */
        outline:1px solid transparent;     /* keep for accessibility */
        box-shadow:0 1px 1px rgba(44, 101, 247, 1); /* soft focus ring */
    }

    input::placeholder {
        opacity: 0.5;
    }

