<main class="main">

    <!-- Hero Section -->
    <app-hero></app-hero>

    <!-- About Section -->
    <app-about></app-about>

    <!-- Stats Section -->
    <app-stats></app-stats>

    <!-- Services Section -->
    <app-services></app-services>

    <!-- Appointment Section -->
    <app-appointment></app-appointment>

     <!-- Departments Section -->
    <app-departments></app-departments>

    <!-- Doctors Section -->
    <app-doctors></app-doctors>

    <!-- Faq Section -->
    <app-faq></app-faq>

    <!-- Testimonials Section -->
    <app-testimonial></app-testimonial>

    <!-- Gallery Section -->
    <app-gallery></app-gallery>

    <!-- Contact Section -->
    <app-contact></app-contact>

    <!-- Footer Section -->
    <app-footer></app-footer>

</main>
