<h3>Седмично разписание</h3>

<ul class="nav nav-tabs">
  @for (tab of tabs(); track trackByTab($index, tab)) {
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="['/admin/schedule', tab.start]"
        routerLinkActive="active text-success"
        [routerLinkActiveOptions]="{ exact: true }">
        {{ tab.label }}
      </a>
    </li>
  }
  <!-- '+' tab -->
  <li class="nav-item ms-auto">
    <a class="nav-link"
      routerLinkActive="active text-success"
      routerLink="/admin/schedule/create">
      <i class="fa-solid fa-plus"></i>
    </a>
  </li>
</ul>

<router-outlet/>