<div class="d-flex align-items-center p-3">
  <h3 class="mb-0">Седмично разписание</h3>

  <div class="ms-auto d-flex align-items-center gap-2">
    <a class="btn-icon" title="Ново седмично разписание" routerLink="/admin/schedule/create">
      <i class="fa-solid fa-plus"></i>
    </a>
    <a class="btn-icon" title="Изключване на дни и часове" routerLink="/admin/schedule/exclusions">
      <i class="fa-solid fa-ban text-danger"></i>
    </a>
  </div>
</div>


<ul class="nav nav-tabs">
  @for (tab of tabs(); track trackByTab($index, tab)) {
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/schedule', tab.start]" routerLinkActive="active text-success"
      [routerLinkActiveOptions]="{ exact: true }">
      {{ tab.label }}
    </a>
  </li>
  }
</ul>

<router-outlet />