<h3>Седмично разписание</h3>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link text-secondary" aria-current="page" href="#">От 2025/10/02</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" aria-current="page" href="#">От 2025/11/02</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-success" href="#">Актуално</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">От 2025/12/10</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa-solid fa-plus"></i></a>
  </li>
</ul>

<router-outlet/>