/* AOS - animation on scroll styles */
@import "aos/dist/aos.css";

@import 'swiper/css';
@import 'swiper/css/pagination';

@import "glightbox/dist/css/glightbox.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Disabled days: show a "not-allowed" cursor */

/*****************************************
* Datepicker style overriding            *
******************************************/
.cdk-overlay-container .mat-mdc-datepicker-content .mat-calendar-body-disabled .mat-calendar-body-cell-content,
.mat-calendar .mat-calendar-body-disabled .mat-calendar-body-cell-content {
  cursor: not-allowed;
}
