.slots {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
    justify-content: start;
    margin-top: 1em;
}

.slot-item {
    background-color: white;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
    padding: 0.4em 1em;
    border-radius: 0.3em;
    cursor: pointer;
}

.slot-item--unavailable{
    text-decoration: line-through;
    color: #9e9e9e;
    cursor: not-allowed;
}